@{
    ViewData["Title"] = "Home";
}

<div class="mt-4">
    <h4 style="color:#b5b5b5">Welcome to BulkyBook...</h4>
</div>

<div class="row">
    <div class="col-6">
         <img src="assets/NPHH_M72_08.png" class="img-fluid" />
    </div>
     <div class="col-6 p-4">
         <p style="color:#b5b5b5">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p style="color:#b5b5b5">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
     </div>
</div>








