@if(TempData["success"] != null)
{
    <div class="mt-2 m-0 alert alert-dismissible alert-primary">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      @TempData["success"]
    </div>
}

@if(TempData["error"] != null)
{
    <h2>@TempData["error"]</h2>
}
